@page "/finalcoursedetails/{courseId:int}"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@if (course != null)
{
    @* <a href="@($"ListOfCourses")" class="btn btn-primary">Back</a> *@
    <a href="@($"FinalCourses")" class="my-5">Back to List of Courses</a>
    @* <h6>Course Details</h6> *@
    <h3>Course Name: @course.Name</h3>
    
    <section>
        <div class="course-description">
            <h5>Course Description:</h5>
            @course?.Description
        </div>
    </section>

    <AuthorizeView Roles="Teacher">
    <a href="@($"finaleditcourse/{courseId}")" class="btn btn-primary m-1">Edit Course</a>
    <a href="@($"deletecourse/{courseId}")" class="btn btn-danger m-1">Delete Course</a>
    </AuthorizeView>



    <section class="my-5">
        <h4>Included Modules:</h4>
        <AuthorizeView Roles="Teacher">
            <a href="@($"finalcreatemodule/{courseId}")" class="btn btn-primary m-1">Add new module</a>
        </AuthorizeView>
   
        <div>
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        @* <th scope="col">ModuleId</th> *@
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Start Date</th>                 
                    </tr>
                </thead>
                <tbody>
                    @foreach (var module in course.ModuleList)
                    {
                        <tr>
                            @* <td scope="row">@module?.Id</td> *@
                            <td scope="row">@module?.Name</td>
                            <td scope="row">@module?.Description</td>
                            <td scope="row">@module?.StartDate.ToString("yyyy-MM-dd")</td>
                            @* <td scope="row">@module?.LengthOfDays</td> *@
                            
                            <AuthorizeView Roles="Teacher">
                            <td>
                                <a href="@($"finaleditmodule/{module?.Id}")"
                                   class="btn btn-primary m-1">Edit</a>
                            </td>
                            </AuthorizeView>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
        
    </section>
    <section class="my-5">
        <h4>Signed up students:</h4>

        <AuthorizeView Roles="Teacher">
            <a href="@($"createstudent")" class="btn btn-primary m-1">Add new student</a>
        </AuthorizeView>
        <div>
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        @* <th scope="col">StudentId</th> *@
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        @* <th scope="col"></th> *@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in course.StudentList!)
                    {
                        <tr>
                            @* <td scope="row">@student?.Id</td> *@
                            <td scope="row">@(student?.FirstName + " " + student?.LastName)</td>
                            <td scope="row">@student?.UserName</td>                            
                            
                            <AuthorizeView Roles="Teacher">

                            <td>
                                <a href="@($"editStudent/{student?.Id}")"
                                   class="btn btn-primary m-1">Edit</a>
                            </td>
                            </AuthorizeView>

                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="my-5"></div>
    </section>
}
else
{
    <p>Course not found.</p>
}

